/* CUSTOM PROPS  */
:root{
  --beaver:  #9E7F66;
  --cod-gray:  #111;

  --mirage:  #17192B;
  --ebony-clay: #242B37;
  --shuttle-gray:  #5C6779;
  --white: #fff;
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', Arial, sans-serif;
  letter-spacing: 0;
  background-color: var(--white);
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  overflow-x: hidden;
}
img{
  display: flex;
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* BUTTON */
.btn{
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 24px 55px;
  transition: 0.5s ease;
  cursor: pointer;
  text-align: center;
}
.btn:active{
  opacity: 0.6;
}
.btn--black{
  background-color: var(--cod-gray);
  color: var(--white);
}
.btn--black:hover{
  background-color: transparent;
  color: var(--cod-gray);
  border-color: var(--cod-gray);
}
.btn--white{
  color: var(--white);
  border-color: var(--white);
}
.btn--white:hover{
  color: var(--cod-gray);
  background-color: var(--white);
}
/* LOGO  */
.logo:hover {
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  width: 103px;
  height: 40px;
}
/* *** CONTAINER *** */
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
}

/* SECTION HEADER HERO  */
.header-hero--wrapper {
  background-color: var(--mirage);
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* HEADER  */
.header {
  padding-top: 65px;
  padding-bottom: 63px;
}
.header__container {
  display: flex;
}
/* HERO  */
.hero {
  padding-top: 90px;
  padding-bottom: 198px;
}
.hero__content {
  max-width: 508px;
}
.hero__title {
  color: var(--white);
font-size: 80px;
font-style: normal;
font-weight: 300;
line-height: 80px; /* 100% */
letter-spacing: -1px;
margin-bottom: 10px;
}
.hero__text {
  color: var(--white);
  margin-bottom: 40px;
}








/* ** MAIN CONTENT ** */
.main-content{
  flex-grow: 1;
}


/* RETINA BGS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .header-hero--wrapper {
    background-image: url("../img/hero-bg@2x.jpg");
  }
}