/* CUSTOM PROPS  */
:root{
  --beaver:  #9E7F66;
  --cod-gray:  #111;

  --mirage:  #17192B;
  --ebony-clay: #242B37;
  --shuttle-gray:  #5C6779;
  --white: #fff;
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'League Spartan', Arial, sans-serif;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--ebony-clay);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  overflow-x: hidden;
}
img{
  display: flex;
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* BUTTON */
.btn{
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 24px 55px;
  transition: 0.5s ease;
  cursor: pointer;
  text-align: center;
}
.btn:active{
  opacity: 0.6;
}
.btn--black{
  background-color: var(--cod-gray);
  color: var(--white);
}
.btn--black:hover{
  background-color: transparent;
  color: var(--cod-gray);
  border-color: var(--cod-gray);
}
.btn--white{
  color: var(--white);
  border-color: var(--white);
}
.btn--white:hover{
  color: var(--cod-gray);
  background-color: var(--white);
}
/* LOGO  */
.logo:hover {
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  width: 103px;
  height: 40px;
}
/* *** CONTAINER *** */
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
}

/* SECTION HEADER HERO  */
.header-hero--wrapper {
  background-color: var(--mirage);
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* HEADER  */
.header {
  padding-top: 65px;
  padding-bottom: 63px;
}
.header__container {
  display: flex;
}
/* HERO  */
.hero {
  padding-top: 90px;
  padding-bottom: 198px;
}
.hero__content {
  max-width: 508px;
}
.hero__title {
  color: var(--white);
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 80px; /* 100% */
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.hero__text {
  color: var(--white);
  margin-bottom: 40px;
}


/* ** MAIN CONTENT ** */
.main-content{
  flex-grow: 1;
}

/* FEATURES */
.features__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features__top::before{
  position: absolute;
  display: flex;
  content: "";
  top: 250px;
  left: -195px;
  width: 925px;
  height: 320px;
  border-radius: 0px 100px 0px 0px;
  background-color: var(--shuttle-gray);
  opacity: 0.08;
  z-index: 0;
}

.fetures__top-img {
  margin-top: -70px;
  width: 540px;
  height: 720px;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
  z-index: 50;
}
.features__content {
  position: relative;
  padding-top: 62px;
  width: 445px;
}
.features__content::before{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  content: "";
  width: 71px;
  height: 7px;
  background: url(../img/circle-line.svg) no-repeat center;
}
.features__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -0.5px;
  margin-bottom: 27px;
}
/* Features bottom */
.features__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
}
.features__bottom::before{
  width: 160px;
  height: 76px;
  display: flex;
  content: "";
  position: absolute;
  bottom: 282px;
  right: -114px;
  background-image: url(../img/hamburger.svg);
  background-position: center center;
  z-index: 100;
}
.features__bottom::after{
  position: absolute;
  display: flex;
  content: "";
  right: -195px;
  bottom: 0;
  width: 925px;
  height: 320px;
  border-radius: 100px 0px 0px 0px;
  background-color: var(--shuttle-gray);
  opacity: 0.08;
  z-index: 0;
}
.features__bottom-img {
  position: relative;
  margin-bottom: -80px;
  z-index: 50;
}

/* OUR MENU */
.menu {
  padding-top: 200px;
  padding-bottom: 120px;
  background-color: var(--cod-gray);
}

.menu__container {
  display: flex;
  justify-content: space-between;
}

.menu__content p{
  color: var(--white);
}
.menu__title {
  color: var(--white);
}
.list-menu {
  padding-top: 55px;
}
.list-menu__item {
  display: flex;
}
.list-menu__item:not(:first-child){
  padding-top: 24px;
}
.list-menu__item:not(:last-child){
  border-bottom: 1px solid rgb(255, 255, 255, 0.150);
  padding-bottom: 24px;
}
.list-menu__item div{
  position: relative;
  padding-top: 8px;
  width: 350px;
}
.list-menu__item div::before{
  display: flex;
  content: "";
  position: absolute;
  top: 10px;
  left: -62px;
  width: 32px;
  height: 1px;
  background-color: var(--beaver);
}
.list-menu__img {
  width: 128px;
  height: 96px;
  margin-right: 62px;
}
.list-menu__title {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  margin-bottom: 6px;
}
.list-menu__text {
  color: var(--white);
  font-size: 16px;
  line-height: 26px;
}
/* SLIDER */
.slider {
  padding-top: 160px;
  padding-bottom: 160px;
}
.slider__container{
  position: relative;
}
.slider__container::before{
  position: absolute;
  display: flex;
  content: "";
  left: -481px;
  top: -160px;
  width: 895px;
  height: 320px;
  border-radius: 0px 100px 0px 0px;
  background-color: var(--shuttle-gray);
  opacity: 0.08;
  z-index: 0;
}
.slider__container::after{
  width: 160px;
  height: 76px;
  display: flex;
  content: "";
  position: absolute;
  top: -38px;
  left: -16px;
  background-image: url(../img/hamburger.svg);
  background-position: center center;
  z-index: 100;
}
.slide {
  display: flex;
  justify-content: space-between;
}
.slide__img {
  width: 540px;
  height: 600px;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
  z-index: 50;
}
.slide__content {
  padding-top: 70px;
  max-width: 445px;
}
.slide__title {
  color: var(--ebony-clay);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-bottom: 19px;
}
.slide__text {
  margin-bottom: 60px;
}
.slide__content .btn--black {
  margin-bottom: 80px;
}
.slide__menu-item:not(:last-child) {
  margin-bottom: 12px;
}
.slide__menu-button {
  position: relative;
  display: inline-block;
  color: rgb(76, 76, 76, 0.5);
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.slide__menu-button::before {
  display: none;
  width: 95px;
  height: 1px !important;
  position: absolute;
  top: 40%;
  left: -127px;
  content: "";
  background-color: var(--beaver);
}
.slide__menu-item--active .slide__menu-button::before{
  display: flex;
}
.slide__menu-item--active .slide__menu-button{
  color: #4c4c4c;
}
.slide__menu-button:hover{
  color: #4c4c4c;
}
.slide__menu-button:active{
  opacity: 0.7;
}

/* CTA */
.cta {
  padding-top: 88px;
  padding-bottom: 88px;
  background-color: var(--cod-gray);
  background-image: url(../img/cta-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.cta__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta__title {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-right: 24px;
}

/* FOOTER  */
.footer {
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: var(--cod-gray);
}

.footer__container {
  display: flex;
}
.footer__logo {
  margin-right: auto;
}
.location-working--wrapper{
  max-width: 815px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.location-info {
  color: var(--white);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 32px;
}
.working-time-info {
  width: 445px;
  color: var(--white);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}




/* RETINA BGS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .header-hero--wrapper {
    background-image: url("../img/hero-bg@2x.jpg");
  }
}